<a href="https://colab.research.google.com/github/mburu-mwangi/carrefour-assessment/blob/main/Carrefour_R_analysis_rmd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Defining the Question

You are a Data analyst at Carrefour Kenya and are currently undertaking a project that will inform the marketing department on the most relevant marketing strategies that will result in the highest no. of sales (total price including tax). Your project has been divided into four parts where you'll explore a recent marketing dataset by performing various unsupervised learning techniques and later providing recommendations based on your insights

### a) Specifying the Data Analytic Question

### b) Defining the Metric for Success

### c) Understanding the context

## 2. Reading the Data

### Importing the various libraries

In [88]:
# install.packages(tidyverse)
library(tidyverse)
# install.packages(lubridate)
library(lubridate)

### Importing the various datasets

 This project is divided into 4 parts thus having 3 datasets(df1,df2,df3)

In [ ]:
# Reading the first dataset
#

df1 <- read.csv("http://bit.ly/CarreFourDataset")
head(df1)

  Invoice.ID  Branch Customer.type Gender Product.line           Unit.price
1 750-67-8428 A      Member        Female Health and beauty      74.69
2 226-31-3081 C      Normal        Female Electronic accessories 15.28
3 631-41-3108 A      Normal        Male   Home and lifestyle     46.33
4 123-19-1176 A      Member        Male   Health and beauty      58.22
5 373-73-7910 A      Normal        Male   Sports and travel      86.31
6 699-14-3026 C      Normal        Male   Electronic accessories 85.39
  Quantity Tax     Date      Time  Payment     cogs   gross.margin.percentage
1 7        26.1415 1/5/2019  13:08 Ewallet     522.83 4.761905
2 5         3.8200 3/8/2019  10:29 Cash         76.40 4.761905
3 7        16.2155 3/3/2019  13:23 Credit card 324.31 4.761905
4 8        23.2880 1/27/2019 20:33 Ewallet     465.76 4.761905
5 7        30.2085 2/8/2019  10:37 Ewallet     604.17 4.761905
6 7        29.8865 3/25/2019 18:30 Ewallet     597.73 4.761905
  gross.income Rating Total
1 26.1415      9.1    548.9715
2  3.8200      9.6     80.2200
3 16.2155      7.4    340.5255
4 23.2880      8.4    489.0480
5 30.2085      5.3    634.3785
6 29.8865      4.1    627.6165

In [ ]:
# Reading the second dataset
#

df2 <- read.csv("http://bit.ly/SupermarketDatasetII")
head(df2)

  shrimp            almonds      avocado    vegetables.mix   green.grapes
1 burgers           meatballs    eggs
2 chutney
3 turkey            avocado
4 mineral water     milk         energy bar whole wheat rice green tea
5 low fat yogurt
6 whole wheat pasta french fries
  whole.weat.flour yams cottage.cheese energy.drink tomato.juice low.fat.yogurt
1
2
3
4
5
6
  green.tea honey salad mineral.water salmon antioxydant.juice frozen.smoothie
1
2
3
4
5
6
  spinach olive.oil
1         NA
2         NA
3         NA
4         NA
5         NA
6         NA

In [ ]:
# Reading the third dataset
#

df3 <- read.csv("http://bit.ly/CarreFourSalesDataset")
head(df3)

  Date      Sales
1 1/5/2019  548.9715
2 3/8/2019   80.2200
3 3/3/2019  340.5255
4 1/27/2019 489.0480
5 2/8/2019  634.3785
6 3/25/2019 627.6165

## Part 1: Dimensionality Reduction

For this one I will be using the first dataset(df1)

In [ ]:
# checking the dataset
#
head(df1)

  Invoice.ID  Branch Customer.type Gender Product.line           Unit.price
1 750-67-8428 A      Member        Female Health and beauty      74.69
2 226-31-3081 C      Normal        Female Electronic accessories 15.28
3 631-41-3108 A      Normal        Male   Home and lifestyle     46.33
4 123-19-1176 A      Member        Male   Health and beauty      58.22
5 373-73-7910 A      Normal        Male   Sports and travel      86.31
6 699-14-3026 C      Normal        Male   Electronic accessories 85.39
  Quantity Tax     Date      Time  Payment     cogs   gross.margin.percentage
1 7        26.1415 1/5/2019  13:08 Ewallet     522.83 4.761905
2 5         3.8200 3/8/2019  10:29 Cash         76.40 4.761905
3 7        16.2155 3/3/2019  13:23 Credit card 324.31 4.761905
4 8        23.2880 1/27/2019 20:33 Ewallet     465.76 4.761905
5 7        30.2085 2/8/2019  10:37 Ewallet     604.17 4.761905
6 7        29.8865 3/25/2019 18:30 Ewallet     597.73 4.761905
  gross.income Rating Total
1 26.1415      9.1    548.9715
2  3.8200      9.6     80.2200
3 16.2155      7.4    340.5255
4 23.2880      8.4    489.0480
5 30.2085      5.3    634.3785
6 29.8865      4.1    627.6165

In [ ]:
# Checking the dimensions of the datset
#
dim(df1)

[1] 1000   16

In [ ]:
# Checking the structure of the dataset
#
str(df1)

'data.frame':	1000 obs. of  16 variables:
 $ Invoice.ID             : chr  "750-67-8428" "226-31-3081" "631-41-3108" "123-19-1176" ...
 $ Branch                 : chr  "A" "C" "A" "A" ...
 $ Customer.type          : chr  "Member" "Normal" "Normal" "Member" ...
 $ Gender                 : chr  "Female" "Female" "Male" "Male" ...
 $ Product.line           : chr  "Health and beauty" "Electronic accessories" "Home and lifestyle" "Health and beauty" ...
 $ Unit.price             : num  74.7 15.3 46.3 58.2 86.3 ...
 $ Quantity               : int  7 5 7 8 7 7 6 10 2 3 ...
 $ Tax                    : num  26.14 3.82 16.22 23.29 30.21 ...
 $ Date                   : chr  "1/5/2019" "3/8/2019" "3/3/2019" "1/27/2019" ...
 $ Time                   : chr  "13:08" "10:29" "13:23" "20:33" ...
 $ Payment                : chr  "Ewallet" "Cash" "Credit card" "Ewallet" ...
 $ cogs                   : num  522.8 76.4 324.3 465.8 604.2 ...
 $ gross.margin.percentage: num  4.76 4.76 4.76 4.76 4.76 ...
 $ gross.income           : num  26.14 3.82 16.22 23.29 30.21 ...
 $ Rating                 : num  9.1 9.6 7.4 8.4 5.3 4.1 5.8 8 7.2 5.9 ...
 $ Total                  : num  549 80.2 340.5 489 634.4 ...

### Tidying the dataset.

In [ ]:
# function for calling the numeric and non numeric columns
#
numeric_cols <- function(df) {
  num_cols <- select_if(df, is.numeric)
}


non_numeric_cols <- function(df) {
  no_num_cols <- select_if(df, negate(is.numeric))
}

In [ ]:
head(df1)

  Invoice.ID  Branch Customer.type Gender Product.line           Unit.price
1 750-67-8428 A      Member        Female Health and beauty      74.69
2 226-31-3081 C      Normal        Female Electronic accessories 15.28
3 631-41-3108 A      Normal        Male   Home and lifestyle     46.33
4 123-19-1176 A      Member        Male   Health and beauty      58.22
5 373-73-7910 A      Normal        Male   Sports and travel      86.31
6 699-14-3026 C      Normal        Male   Electronic accessories 85.39
  Quantity Tax     Date      Time  Payment     cogs   gross.margin.percentage
1 7        26.1415 1/5/2019  13:08 Ewallet     522.83 4.761905
2 5         3.8200 3/8/2019  10:29 Cash         76.40 4.761905
3 7        16.2155 3/3/2019  13:23 Credit card 324.31 4.761905
4 8        23.2880 1/27/2019 20:33 Ewallet     465.76 4.761905
5 7        30.2085 2/8/2019  10:37 Ewallet     604.17 4.761905
6 7        29.8865 3/25/2019 18:30 Ewallet     597.73 4.761905
  gross.income Rating Total
1 26.1415      9.1    548.9715
2  3.8200      9.6     80.2200
3 16.2155      7.4    340.5255
4 23.2880      8.4    489.0480
5 30.2085      5.3    634.3785
6 29.8865      4.1    627.6165

In [ ]:
head(non_numeric_cols(df1))

  Invoice.ID  Branch Customer.type Gender Product.line           Date
1 750-67-8428 A      Member        Female Health and beauty      1/5/2019
2 226-31-3081 C      Normal        Female Electronic accessories 3/8/2019
3 631-41-3108 A      Normal        Male   Home and lifestyle     3/3/2019
4 123-19-1176 A      Member        Male   Health and beauty      1/27/2019
5 373-73-7910 A      Normal        Male   Sports and travel      2/8/2019
6 699-14-3026 C      Normal        Male   Electronic accessories 3/25/2019
  Time  Payment
1 13:08 Ewallet
2 10:29 Cash
3 13:23 Credit card
4 20:33 Ewallet
5 10:37 Ewallet
6 18:30 Ewallet

In [ ]:
# Checking for missing data
#
colSums(is.na(df1))

             Invoice.ID                  Branch           Customer.type
                      0                       0                       0
                 Gender            Product.line              Unit.price
                      0                       0                       0
               Quantity                     Tax                    Date
                      0                       0                       0
                   Time                 Payment                    cogs
                      0                       0                       0
gross.margin.percentage            gross.income                  Rating
                      0                       0                       0
                  Total
                      0

There is no missing data

In [ ]:
# combining the two columns: "Date" and "Time" and getting a time stamp
#

# df1$Timestamp <- as.POSIXct(paste(df1$Date, df1$Time), format = "%Y-%m-%d %H:%M") 
# #head(df1)
# str(df1)

In [ ]:
# Changing the column Timestamp into a timestamp
#

#df1$Timestamp <- as.(df1$Timestamp , format = "%Y-%m-%d %H:%M:%S" )
# df1$Timestamp <- as.POSIXct(df1$Timestamp, format = "%Y-%m-%d %H:%M:%S")
head(df1)

  Invoice.ID  Branch Customer.type Gender Product.line           Unit.price
1 750-67-8428 A      Member        Female Health and beauty      74.69
2 226-31-3081 C      Normal        Female Electronic accessories 15.28
3 631-41-3108 A      Normal        Male   Home and lifestyle     46.33
4 123-19-1176 A      Member        Male   Health and beauty      58.22
5 373-73-7910 A      Normal        Male   Sports and travel      86.31
6 699-14-3026 C      Normal        Male   Electronic accessories 85.39
  Quantity Tax     Date      Time  Payment     cogs   gross.margin.percentage
1 7        26.1415 1/5/2019  13:08 Ewallet     522.83 4.761905
2 5         3.8200 3/8/2019  10:29 Cash         76.40 4.761905
3 7        16.2155 3/3/2019  13:23 Credit card 324.31 4.761905
4 8        23.2880 1/27/2019 20:33 Ewallet     465.76 4.761905
5 7        30.2085 2/8/2019  10:37 Ewallet     604.17 4.761905
6 7        29.8865 3/25/2019 18:30 Ewallet     597.73 4.761905
  gross.income Rating Total
1 26.1415      9.1    548.9715
2  3.8200      9.6     80.2200
3 16.2155      7.4    340.5255
4 23.2880      8.4    489.0480
5 30.2085      5.3    634.3785
6 29.8865      4.1    627.6165

In [ ]:
# Checking for duplicates
#

duplicates <- df1[duplicated(df1), ]
duplicates

     Invoice.ID Branch Customer.type Gender Product.line Unit.price Quantity
     Tax Date Time Payment cogs gross.margin.percentage gross.income Rating
     Total

There are no duplicates in the data.

In [ ]:
# Checking for outliers
#

### Feature Engineering

In [ ]:
# previewing the dataset
#
head(df1)

  Invoice.ID  Branch Customer.type Gender Product.line           Unit.price
1 750-67-8428 A      Member        Female Health and beauty      74.69
2 226-31-3081 C      Normal        Female Electronic accessories 15.28
3 631-41-3108 A      Normal        Male   Home and lifestyle     46.33
4 123-19-1176 A      Member        Male   Health and beauty      58.22
5 373-73-7910 A      Normal        Male   Sports and travel      86.31
6 699-14-3026 C      Normal        Male   Electronic accessories 85.39
  Quantity Tax     Date      Time  Payment     cogs   gross.margin.percentage
1 7        26.1415 1/5/2019  13:08 Ewallet     522.83 4.761905
2 5         3.8200 3/8/2019  10:29 Cash         76.40 4.761905
3 7        16.2155 3/3/2019  13:23 Credit card 324.31 4.761905
4 8        23.2880 1/27/2019 20:33 Ewallet     465.76 4.761905
5 7        30.2085 2/8/2019  10:37 Ewallet     604.17 4.761905
6 7        29.8865 3/25/2019 18:30 Ewallet     597.73 4.761905
  gross.income Rating Total
1 26.1415      9.1    548.9715
2  3.8200      9.6     80.2200
3 16.2155      7.4    340.5255
4 23.2880      8.4    489.0480
5 30.2085      5.3    634.3785
6 29.8865      4.1    627.6165

In [90]:
# Label encoding
#
# for column "Branch"
#
df1$Branch <- ifelse(df1$Branch == "A", 0, ifelse(df1$Branch == "C",1,2))

# for column "Customer.type"
#
df1$Customer.type <- ifelse(df1$Customer.type == "Member",0,1)

# for column "Gender"
#
df1$Gender <- ifelse(df1$Gender == "Female",0,1)

# for column "Payment"
#
df1$Payment <- ifelse(df1$Payment == "Ewallet",0, ifelse(df1$Payment == "Cash" ,1,2))

# for column "Product.line"
#
df1$Product.line <- ifelse(df1$Product.line == "Health and beauty",0, ifelse(df1$Product.line == "Electronic accessories",1, ifelse(df1$Product.line == "Sports and travel",2, ifelse(df1$Product.line == "Food and beverages",3,4))))

In [92]:
dim(df1)

# label <- LabelEncoder$new()
# df1$Product.line <- label$fit_transform(df1$Product.line)

[1] 1000   16

In [91]:
unique(as.factor(df1$Branch))
unique(as.factor(df1$Gender))
unique(as.factor(df1$Customer.type))
unique(as.factor(df1$Payment))
unique(as.factor(df1$Product.line))

[1] 2
Levels: 2

[1] 1
Levels: 1

[1] 1
Levels: 1

[1] 2
Levels: 2

[1] 0 1 4 2 3
Levels: 0 1 2 3 4

### Implementing the task.

In [95]:
df1.pca <- prcomp(df1[,c(2:8,11:16)], center = TRUE, scale. = TRUE)
summary(df1.pca)

ERROR: ignored

## Part 2: Feature Selection